.DS_Store
.idea
npm-debug.log
bower_components/
node_modules/
demoOld/
edits/
gulpfile.js
demo/node_modules
demo/e2e
demo/app/bower_components
demo/Procfile
demo/server
demo/.editorconfig
demo/.idea
demo2/
projectFilesBackup/
