header {
  position: fixed;
}

.main-nav--title {
  margin-left: 45px;
  margin-top: 0;
}

.main-nav--icon {
  position: absolute;
  margin: 5px;
}

.main-logo__link {
  text-decoration: none;
  color: white;
}

.menu-icon {
  fill: white;
}

.main-nav--version {
  font-size: 0.5em;
  color: #F4F4F4;
}

@media screen and (min-width: 1024px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1023px) {
  .wrapper {
    margin: 0 24px;
  }
}

.sidebar-filter {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

@media screen and (max-width: 1023px) {
  .sidebar-filter--is-shown {
    opacity: 1;
    pointer-events: auto;
  }
}

.sidebar {
  z-index: 998;
  width: 260px;
  border-right: solid 1px #ddd;
  background-color: #fff;
  -webkit-transition-property: box-shadow, -webkit-transform;
  -moz-transition-property: box-shadow, -moz-transform;
  transition-property: box-shadow, transform;
  -webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  overflow: auto;
}

@media screen and (min-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
  }
  .main-section__content {
    margin-left: 236px;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: -260px;
  }
  .main-section__content {
    justify-content: center;
  }
}

@media screen and (max-width: 1023px) {
  .sidebar--is-shown {
    box-shadow: 3px 0 6px rgba(0, 0, 0, 0.4);
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
  }
}

.sidebar-menu {
  padding: 8px 0;
}

.sidebar-menu__link {
  display: block;
  padding: 0 16px;
  cursor: pointer;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  line-height: 48px;
  text-decoration: none;
}

.sidebar-menu__link:hover {
  background-color: #eee;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  height: 60px;
  padding: 12px;
  background-color: #4fc1e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.header::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 1201px) {
  .menubar {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .menubar {
    float: left;
  }
}

.home .menubar {
  display: none;
}

.main-logo {
  float: left;
}

.main-logo__link {
  display: block;
  padding: 4px 6px;
  border-radius: 2px;
  font-size: 24px;
  font-size: 1.5rem;
}

.main-logo__link img {
  display: block;
  height: 28px;
}

.main-nav {
  float: right;
}

.main-nav ul li {
  float: left;
}

@media screen and (max-width: 630px) {
  .main-nav--title {
    font-size: 0.85em;
  }
  .main-nav--version {
    display: none;
  }
  .main-nav--lap-and-up {
    display: none;
  }
  body {
    font-size: 0.85em;
  }
  .sidebar-menu {
    font-size: 0.85em;
  }
}

@media screen and (min-width: 631px) {
  .main-nav--palm {
    display: none;
  }
}

.main-nav__link {
  display: block;
  padding: 0 12px;
  border-radius: 2px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  line-height: 36px;
  text-decoration: none;
}

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .main-nav__link {
    font-size: 14px;
    font-size: 0.875rem;
  }
}

.main {
  padding: 60px 0 0;
}

@media screen and (min-width: 1024px) {
  .main-section {
    margin: 0 0 0 260px;
  }
}

.main-section__title {
  display: block;
  height: 64px;
  margin: 0;
  padding: 0 24px;
  border-bottom: 1px solid #ddd;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 64px;
}

.main-section__intro {
  margin: 0;
  padding: 24px;
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
}

.main-section__intro a {
  color: #2196F3;
  text-decoration: none;
}

.main-section__content {
  padding: 24px;
}

.main-section__content p > code {
  padding: 2px 4px;
  font-size: 90%;
  color: #2196F3;
  background-color: #e3f2fd;
  border-radius: 4px;
}

.main-section__content p > a {
  color: #2196F3;
  text-decoration: none;
}

.main-section__content p:last-child,
.main-section__content ul:last-child {
  margin-bottom: 0;
}

.main-section__subtitle {
  font-size: 30px;
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1;
}
