<div>
  <br/>

  <div class="radio-group"
       formly-dynamic-name="::id">
    <h3><label>{{::options.templateOptions.label}}</label></h3>

    <div class="radio-button"
         ng-repeat="(key, option) in options.templateOptions.options">
      <input type="radio"
             formly-custom-validation="options.validators"
             ng-value="::option.value"
             ng-model="$parent.model[$parent.options.key]"
             class="radio-button__input"
             ng-disabled="::options.templateOptions.disabled"
             ng-checked="options.templateOptions.checked"
             aria-describedby="{{::id}} + '_' + {{::$index}} + '_radioButton'"
             id="{{::id + '_'+ $index}}">
      <label for="{{::id + '_'+ $index}}" class="radio-button__label">{{::option.name}}</label>
      <span ng-if="::option.help" class="radio-button__help">{{::option.help}}
      </span>
    </div>
  </div>
</div>
