<div>
	<br/>

	<div class="radio-group">
		<h3><label>{{::options.templateOptions.label}}</label></h3>

		<div class="radio-button"
		     ng-repeat="(key, option) in options.templateOptions.options">
			<input ng-model="$parent.model[$parent.options.key]"
			       id="{{::id}}"
			       name="{{::id}}"
			       type="radio"
			       ng-disabled="::option.disabled"
			       class="radio-button__input"
			       ng-value="::option.value"
			       aria-labelledby="{{::id}} + '_' + {{::$index}} + '_radioButton'">
			<label class="radio-button__label">{{::option.name}}</label>
      <span ng-if="::option.help" class="radio-button__help">{{::option.help}}
      </span>
		</div>
	</div>
</div>
