<div ng-style="::options.templateOptions.style">
	<h3 ng-if="::options.templateOptions.label"><label>
		{{::options.templateOptions.label}} {{::options.templateOptions.required ? '*' : ''}}
	</label></h3>
	<lx-select ng-model="model[options.key]"
	           choices="options.templateOptions.options"
	           placeholder="{{::options.templateOptions.placeholder}}"
	           min-length="::options.templateOptions.minLength"
	           allow-clear="::options.templateOptions.allowClear"
	           ng-attr-multiple="{{::options.templateOptions.multiple}}">

		<lx-select-selected>
			{{$selected[options.templateOptions.selected]}} {{::options.templateOptions.selected2 ? ' - ' +
			$selected[options.templateOptions.selected2] : ''}}
		</lx-select-selected>

		<lx-select-choices>
			{{$choice[options.templateOptions.choice]}} {{::options.templateOptions.choice2 ? ' - ' +
			$choice[options.templateOptions.choice2] : ''}}
		</lx-select-choices>

	</lx-select>
</div>
