<div>
  <br/>
  <h3><label for="{{::id}}">
    {{::options.templateOptions.label || 'Select'}} {{::options.templateOptions.required ? '*' : ''}}
  </label></h3>
  <lx-select id={{::id}}
             ng-model="model[options.key]"
             formly-dynamic-name="::id"
             placeholder="{{::options.placeholder}}"
             choices="::options.templateOptions.choices"
             change="::options.templateOptions.change"
             filter="::options.templateOptions.filter"
             loading="{{::options.loading}}"
             min-length="::options.templateOptions.minLength"
             allow-clear="::options.templateOptions.allowClear"
             aria-describedby="{{::id}}_select">

    <lx-select-selected>
      {{$selected[options.templateOptions.selected]}} {{::options.templateOptions.selected2 ? ' - ' + $selected[options.templateOptions.selected2] : ''}}
    </lx-select-selected>

    <lx-select-choices ng-bind-html="options.templateOptions.choice">
      {{$choice[options.templateOptions.choice]}} {{::options.templateOptions.choice2 ? ' - ' + $choice[options.templateOptions.choice2] : ''}}
    </lx-select-choices>

  </lx-select>
  <p id="{{::id}}_description" ng-if="::options.templateOptions.description">{{::options.templateOptions.description}}</p></div>
</div>
