.banner {
  margin-top: 50px;
}
//
//@media screen and (min-width: 0px) and (max-width: 400px) {
//  #header { display: none; }
//}
//
//@media screen and (min-width: 401px) and (max-width: 1024px) {
//  #header { display: block; }
//}
