.addPadding {
  padding: 15px;
}

.docs {
  padding: 15px;
}

#main {
  margin-top: 34px;
}

.main-section__content {
  padding: 10px;
  max-width: 1400px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-basis {
  flex-basis: 500px;
}
