.addPadding {
  padding: 15px;
}

.docs {
  padding: 15px;
}

#main {
  margin-top: 34px;
}

.main-section__content {
  padding: 10px;
}

.flex-wrap {
  flex-wrap: wrap;
}

.docs-icon {
  float: right;
  opacity: 0.5;
}
