<div class="main-section__content" flex-container="row">

  <!-- Form Field Inputs -->
  <div flex-item="40" class="content-fields">
    <div class="card tc-black-2 p-">
      <shmck-divider></shmck-divider>
      <a ng-if="vm.contents.angularDocs" class="docs-icon" ng-href="{{vm.contents.angularDocs}}" target="_blank">Angular Docs</a>
      <a ng-if="vm.contents.markdownFile" class="docs-icon" ng-click="vm.openDialog()"><i class="mdi mdi--file"></i>Docs</a>

      <h1 class="fs-display2">{{::vm.contents.title}}</h1>
      <span class="fs-headline">{{::vm.contents.subhead}}</span>
      <br/>


      <div class="card__content bgc-white">
        <div ng-if="::vm.contents.description">
          <br/>
          <p>{{::vm.contents.description}}</p>
          <br/>
        </div>


        <!-- Forms -->
        <h2 class="fs-display1">Examples</h2>

        <div ng-class="::vm.contents.formFieldsClass ? vm.contents.formFieldsClass : ''">
          <formly-form model="vm.formData" fields="vm.formFields">
            <br/>
            <button class="btn btn--l btn--blue btn--raised" lx-ripple
                    ng-click="vm.submit()" type="submit">Submit
            </button>
          </formly-form>

        </div>
        <!-- end Forms -->

        <div ng-if="::vm.contents.notes">
          <br/>
          <p>{{::vm.contents.notes}}</p>
          <br/>
        </div>

      </div>
    </div>

    <div class="card tc-black-2 p-">
      <shmck-divider></shmck-divider>
      <h1 class="fs-title">Form Data</h1>

      <div class="card__content bgc-blue-200" style="max-width: 450px">
        <pre pretty-json="vm.formData"></pre>
      </div>
    </div>
  </div>


  <!-- Form Field JSON -->
  <div flex-item="40" class="content-json">
    <div class="card tc-black-2 p-">
      <shmck-divider></shmck-divider>
      <h1 class="fs-display1">Form Fields</h1>

      <div class="card__content bgc-white" style="max-width: 450px">
        <!-- JSON View -->
        <!--<pre pretty-json="vm.prettyJson"></pre>-->

        <pre>[</pre>
        <pre ng-repeat="item in vm.fieldJson track by $index"
             class="bgc-yellow-100"
             pretty-json="vm.fieldJson[$index]"></pre>
        <pre>]</pre>

      </div>
    </div>
  </div>

</div>

<docs-modal></docs-modal>
