<shmck-progress-spinner items="vm.formFields"></shmck-progress-spinner>
<div class="main-section__content" flex-container="row" ng-cloak>

  <!-- Form Field Inputs -->
  <section flex-item="40" class="content content-fields">
    <div class="card tc-black-2 p-">
      <shmck-divider></shmck-divider>
      <a ng-if="vm.contents.docsLink" class="docs-icon" ng-href="{{vm.contents.docsLink}}" target="_blank">Docs <i
        class="mdi mdi-file"></i></a>
      <a ng-if="vm.contents.docFile" class="docs-icon" ng-click="vm.openDialog()">Docs <i class="mdi mdi-file"></i></a>


      <h1 class="fs-display2">{{::vm.contents.title}}</h1>
      <span class="fs-subhead">{{::vm.contents.subhead}}</span>
      <br/>

      <shmck-contents content="::vm.contents.description"></shmck-contents>

      <shmck-container title="Examples" bgc="bgc-white">
        <div ng-class="::vm.contents.formFieldsClass ? vm.contents.formFieldsClass : ''">
          <formly-form model="vm.formData" fields="vm.formFields" id="formly-fields">
            <br/>
            <button class="btn btn--l btn--blue btn--raised" lx-ripple
                    ng-click="vm.submit()" type="submit">Submit
            </button>
          </formly-form>
        </div>
      </shmck-container>

      <shmck-form-data form-data="::vm.formData"></shmck-form-data>

      <shmck-contents content="::vm.contents.notes"></shmck-contents>
    </div>

  </section>

  <!-- Form Field JSON -->
  <section flex-item="40" class="content content-json">
    <shmck-json-fields fields="::vm.jsonFields"></shmck-json-fields>
  </section>


</div>

<shmck-docs-modal></shmck-docs-modal>
