<div class="card">
	<div ng-if="::options.templateOptions.card.image" class="card__img card__img--top">
		<img ng-src="{{::options.templateOptions.card.image}}">
		<span ng-if="::options.templateOptions.card.imageTitle" class="fs-headline tc-white-1 display-block">{{options.templateOptions.card.imageTitle}}</span>
	</div>
	<div class="p+">
		<strong class="fs-headline display-block">{{options.templateOptions.card.title}}</strong>
		<span class="fs-subhead tc-black-2 display-block">{{options.templateOptions.card.subTitle}}</span>
	</div>
	<div class="paragraph fs-body-1">
		<formly-transclude></formly-transclude>
	</div>
</div>

