<div>
	<formly-transclude></formly-transclude>
	<ul class="form-error" ng-messages="options.formControl.$error"
	    ng-show="options.formControl.$invalid && options.formControl.$touched">
		<li ng-repeat="error in ::options.validation.messages"
		    ng-message={{::error.name}}>{{::error.message}}
		</li>
	</ul>
	<span class="display-block"
	      ng-if="options.templateOptions.pending && options.formControl.$touched && options.formControl.$pending">
	{{::options.templateOptions.pending || 'Checking...'}}
	</span>
</div>