// injector
// endinjector
//@import '../../bower_components/mdi/materialdesignicons.css';
//@import '../../bower_components/lumx/dist/lumx.css';

.inline-wrapper {


  .inline--before {

    color: green;
  }
  .inline--content {

    color: red;
  }
  .inline--after {

    color: purple;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0 !important;
  background-color: #EEEEEE;
}

a {
  text-decoration: none;
}




